'englishman lives in red house'.
'spaniard owns dog'.
'who lives in green house drinks coffee'.
'ukrainian drinks tea'.
'who lives in green house lives right to one who lives in ivory house'.
'who smokes old_gold owns snails'.
'who lives in yellow house smokes kools'.
'who smokes chesterfields lives next to one who owns fox'.
'who smokes kools lives next to one who owns horse'.
'who drinks juice smokes lucky_strike'.
'japanese smokes parliaments'.
'norwegian lives next to one who lives in blue house'.
